{{define "ClientUsage" }}
Command:
    gophercli client [SUBCOMMAND] [OPTIONS]

    gophercli [SUBCOMMAND] [OPTIONS]
    (The default command 'client' can be omitted.)

Subcommands:
    list
    update
    delete

Options:
     -m,  --m, --mode     string      Set to table,csv,json,xml [default:table]
     -g,  --g, --gopher   string      Set the GopherID (optional.)
     -t,  --t, --thing    string      Set the ThingID (optional.)
         --gn, --gname    string      Set Gopher name value for adding, updating, searching
         --gd, --gdesc    string      Set Gopher description for adding, updating, searching
         --tn, --tname    string      Set Thing name value for adding, updating, searching
         --td, --tdesc    string      Set Thing description for adding, updating, searching
    -c,  --cache          true/false  Request caching of the body (HTTP GETs only)
          -cf, --cfolder  string      Cache folder name (default: './.cache/')

Examples:{{template "ClientList"}} {{template "ClientUpdate"}} {{template "ClientDelete"}}
{{end}}

{{define "ClientList" }}
      ## The default command is 'client' and is optional before subcommands.
      $ gophercli client list

      $ gophercli list
      $ gophercli list --gopher=1,2
      $ gophercli list --thing=2
      $ gophercli list -g1 -t2,3
      $ gophercli list --gn=gopher1 --tn=feet
{{end}}

{{define "ClientUpdate" }}
      $ gophercli update --gopher=1 --gname="Bobby Smith" --gdesc="Furry."
      $ gophercli update --thing=2 --tname "Money Wallet" --tdesc="Where the money is."
{{end}}

{{define "ClientDelete" }}
      $ gophercli delete --gopher=1
{{end}}