{{define "ServerUsage" }}
    Command:
      gophercli server [SUBCOMMAND] [OPTIONS]

    Subcommands:
      start
      stop

    Options:
      --p, --port number    Set the port to listen on.

    Examples: {{ template "ServerStart" }} {{ template "ServerStop" }}
{{end}}

{{define "ServerStart" }}
      $ gophercli server start
      $ gophercli server start --port=102102 --docroot=./config/docroot
{{end}}
{{define "ServerStop" }}
      $ gophercli server stop
{{end}}
